<?php
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       Cake.Console.Templates.default.views
 * @since         CakePHP(tm) v 1.2.0.5234
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
?>
<div class="<?php echo $pluralVar; ?> view">
	<h2><?php echo "<?php echo __('{$singularHumanName}'); ?>"; ?></h2>
	<table class='table table-responsive table-hover table-striped'>
		<?php
            
            echo "<caption>Detalhes</caption>";

			foreach ($fields as $field) {
				$isKey = false;

				if (!empty($associations['belongsTo'])) {
					foreach ($associations['belongsTo'] as $alias => $details) {
						if ($field === $details['foreignKey']) {
							$isKey = true;
							echo "\n\t\t<tr>";
							echo "\n\t\t\t<td>";
                            echo "<?php echo __('" . Inflector::humanize(Inflector::underscore($alias)) . "'); ?>";
                            echo '</td>';
							echo "\n\t\t\t<td>";
                            echo "\n\t\t\t\t<?php echo \$this->Html->link(\${$singularVar}['{$alias}']['{$details['displayField']}'], array('controller' => '{$details['controller']}', 'action' => 'view', \${$singularVar}['{$alias}']['{$details['primaryKey']}'])); ?>";
                            echo "\n\t\t\t</td>";
							echo "\n\t\t<\tr>\n";
							break;
						}
					}
				}
				if ($isKey !== true) {
					echo "\n\t\t<tr>";
					echo "\n\t\t\t<td>";
					echo "<?php echo __('" . Inflector::humanize($field) . "'); ?>";
                    echo "</td>";
                    echo "\n\t\t\t<td>";
					echo "<?php echo h(\${$singularVar}['{$modelClass}']['{$field}']); ?>";
                    echo "</td>";
					echo "\n\t\t</tr>\n";

				}
			}
		?>
	</table>
</div>
<div class="actions">
	<div class="row">
		<h3><?php echo "<?php echo __('Opções'); ?>"; ?></h3>

		<?php
		echo "\t\t<?php echo \$this->Html->link(__('Editar " . $singularHumanName ."'), array('action' => 'edit', \${$singularVar}['{$modelClass}']['{$primaryKey}']), array('class' => 'btn btn-primary')); ?>\n";
		echo "\t\t<?php echo \$this->Form->postLink(__('Deletar " . $singularHumanName . "'), array('action' => 'delete', \${$singularVar}['{$modelClass}']['{$primaryKey}']), array('class' => 'btn btn-danger'), __('Are you sure you want to delete # %s?', \${$singularVar}['{$modelClass}']['{$primaryKey}'])); ?>\n";
		echo "\t\t<?php echo \$this->Html->link(__('Ver " . $pluralHumanName . "'), array('action' => 'index'), array('class' => 'btn btn-warning')); ?>\n";
		echo "\t\t<?php echo \$this->Html->link(__('Adicionar " . $singularHumanName . "'), array('action' => 'add'), array('class' => 'btn btn-success')); ?>\n";
		?>
	</div>
	<div class="row">
		<h3><?php echo "<?php echo __('Itens Relacionados'); ?>"; ?></h3>
		<?php
		$done = array();
		foreach ($associations as $type => $data) {
			foreach ($data as $alias => $details) {
				if ($details['controller'] != $this->name && !in_array($details['controller'], $done)) {
					echo "\t\t<?php echo \$this->Html->link(__('Ver " . Inflector::humanize($details['controller']) . "'), array('controller' => '{$details['controller']}', 'action' => 'index'), array('class' => 'btn btn-default')); ?>\n";
					echo "\t\t<?php echo \$this->Html->link(__('Adiconar " . Inflector::humanize(Inflector::underscore($alias)) . "'), array('controller' => '{$details['controller']}', 'action' => 'add'), array('class' => 'btn btn-default')); ?>\n";
					$done[] = $details['controller'];
				}
			}
		}
		?>
	</div>
</div>
<?php
if (!empty($associations['hasOne'])) :
	foreach ($associations['hasOne'] as $alias => $details): ?>
<div class="related">
	<h3><?php echo "<?php echo __('Related " . Inflector::humanize($details['controller']) . "'); ?>"; ?></h3>
	<?php echo "<?php if (!empty(\${$singularVar}['{$alias}'])): ?>\n"; ?>
	<dl>
		<?php
		foreach ($details['fields'] as $field) {
			echo "\t\t<dt><?php echo __('" . Inflector::humanize($field) . "'); ?></dt>\n";
			echo "\t\t<dd>\n\t<?php echo \${$singularVar}['{$alias}']['{$field}']; ?>\n&nbsp;</dd>\n";
		}
		?>
	</dl>
	<?php echo "<?php endif; ?>\n"; ?>
	<div class="actions">
		<ul>
			<li><?php echo "<?php echo \$this->Html->link(__('Edit " . Inflector::humanize(Inflector::underscore($alias)) . "'), array('controller' => '{$details['controller']}', 'action' => 'edit', \${$singularVar}['{$alias}']['{$details['primaryKey']}'])); ?></li>\n"; ?>
		</ul>
	</div>
</div>
<?php
endforeach;
endif;
if (empty($associations['hasMany'])) {
	$associations['hasMany'] = array();
}
if (empty($associations['hasAndBelongsToMany'])) {
	$associations['hasAndBelongsToMany'] = array();
}
$relations = array_merge($associations['hasMany'], $associations['hasAndBelongsToMany']);
foreach ($relations as $alias => $details):
	$otherSingularVar = Inflector::variable($alias);
$otherPluralHumanName = Inflector::humanize($details['controller']);
?>
<div class="row">
	<div class="related">

		<?php echo "<?php if (!empty(\${$singularVar}['{$alias}'])): ?>\n"; ?>
		<div class="panel panel-default">
			<h3><?php echo "<?php echo __('Related " . $otherPluralHumanName . "'); ?>"; ?></h3>
			<div class="table-responsive">
				<table class="table table-striped table-hover table-condensed">
					<tr>
						<?php
						foreach ($details['fields'] as $field) {
							echo "\t\t<th><?php echo __('" . Inflector::humanize($field) . "'); ?></th>\n";
						}
						?>
						<th class="actions"><?php echo "<?php echo __('Opções'); ?>"; ?></th>
					</tr>
					<?php
					echo "\t<?php foreach (\${$singularVar}['{$alias}'] as \${$otherSingularVar}): ?>\n";
					echo "\t\t<tr>\n";
					foreach ($details['fields'] as $field) {
						echo "\t\t\t<td><?php echo \${$otherSingularVar}['{$field}']; ?></td>\n";
					}

					echo "\t\t\t<td class=\"actions\">\n";
					echo "\t\t\t\t<?php echo \$this->Html->link(__('Visualizar'), array('controller' => '{$details['controller']}', 'action' => 'view', \${$otherSingularVar}['{$details['primaryKey']}']), array('class' => 'btn btn-default')); ?>\n";
					
					echo "\t\t\t</td>\n";
					echo "\t\t</tr>\n";

					echo "\t<?php endforeach; ?>\n";
					?>
				</table>
			</div>
		</div>
		<?php echo "<?php endif; ?>\n\n"; ?>
		<div class="actions">
			<?php echo "<?php echo \$this->Html->link(__('Adicionar " . Inflector::humanize(Inflector::underscore($alias)) . "'), array('controller' => '{$details['controller']}', 'action' => 'add'), array('class' => 'btn btn-success')); ?>"; ?>
		</div>
	</div>
</div>
<?php endforeach; ?>
